* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    cursor: pointer;
    margin: 32px 0 178px 42px;
}

header a:hover {
    font-size: 22px;
    color: #6FBF44;
    transition: 0.5s ease-in-out;
}

button {
    width: 124px;
    height: 51px;
    top: 32px;
    left: 420px;
    border: 1px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    background: linear-gradient(0deg, #4CB538, #4CB538),
        linear-gradient(0deg, #6FBF44, #6FBF44);
    border: 1px solid #4CB538;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    width: 134px;
    height: 61px;
    font-size: 22px;
    transition: 0.5s ease-in-out;
}


.link-header {
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233D;
}


figure {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    margin-bottom: 102px;
    display: inline-block;
}

h1 {
    width: 582px;
    height: 164px;
    top: 342px;
    left: 801px;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
}

p {
    width: 493px;
    height: 99px;
    top: 553px;
    left: 801px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin: 47px 0 55px;
    color: #4B505A;
}

section {
    margin-left: 84.82px;
    display: inline-block;
    margin-bottom: 114px;
}

.link-section {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}